#subH6 {
    font-size: 13px;
}

.introductionText {
    padding: 10px 5px 10px 15px;
    margin: 20px auto 10px auto;
    width: 80%;
}

.introductionText p {
    margin: 0 0 20px 0;
    text-align: left;
}

.introductionText a {
    color: #6e567e;
    text-decoration: underline;
}

.introductionText a:hover{
    color: #c8a3e0;
}
