/* General */
@font-face {
    font-family: diabloFont;
    src: URL("../fonts/diablo_h.ttf");
}

body {
    background-color: #0f0d06;
    color: #838363;
}

.container {
    margin: auto;
    width: 75%;
    text-align: center;
    background-color: #1a18179a;
    line-height: 1.05;
    border-left: 3px solid #413922e3;
    border-right: 3px solid #413922e3;
    border-bottom: 3px solid #413922e3;
}

header {
    background-color: #1d170b;
    text-align: center;
    word-spacing: 40px;
    color: #7e6c3a;
    text-shadow: 2px 2px #000000;
}

h1 {
    font: 25px/3 diabloFont, arial, sans-serif;
    font-weight: bold;
}

h2 {
    margin-top: 25px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 3px;
}

h3 {
    font-size: 18px;
}

h6 {
    font-weight: bold;
    font-size: 17px;
    text-align: left;
}

.spacing {
    width: 100%;
    height: 50px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #ebebc5;
}

.externalLink {
    color: #6e567e;
    text-decoration: underline;
}

.externalLink:hover{
    color: #c8a3e0;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.smallFont {
    font-size: 13px;
}

.sacredUniqueAreas {
    margin: 20px 0 20px 0;
    background-color: #1a160c;
    padding: 10px 10px 10px 10px;
    width: 70%;
    border: 2px solid #413922e3;
}

.description {
    padding: 10px 5px 10px 15px;
    margin: 20px auto 10px auto;
    width: 80%;
    text-align: left;
    line-height: 1.2;
}

.description p {
    margin: 0 0 20px 0;
    text-align: left;
}

.titleDescription {
    margin-bottom: 35px;
}

/* Navigation Bar */ 
nav {
    color: #838363;
    font-size: 18px;
    text-align: left;
    background-color: #272112;
    padding: 5px 0 5px 29px;
    border-top: 2px solid #413922e3;
    border-bottom: 2px solid #413922e3;
}

.navpanel {
    list-style-type: none;
}

.navpanel li {
    display: inline-block;
}

/* Dropdown */
ul button {
    color: #838363;
    font-size: 17px;
    background-color: #272112;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0f0d06;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 16px;
}

.dropdown-content a {
    padding: 8px 6px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #3d3519;
}

.show {
    display:block;
}

.arrow {
    font-size: 14px;
}


/* Table of Contents */
.toc {
    height: 650px;
    overflow: hidden;
    overflow-y: scroll;
    width: 11%;
    text-align: left;
    color: #a1a178;
    font-size: 14px;
    border: 1px solid #bbab7773;
    position: fixed;
    left: 5px;
    top: 75px;
}

.tocCategory {
    font-weight: bold;
    text-decoration: underline;
    list-style-type: circle;
    list-style-position: inside;
}

.toc li {
    padding: 4px 0 4px 3px;
}

.toc li a:hover {
    color: #ebebc5;
}

/* Font Colors */
.unique {
    color: #706033;
    font-weight: bold;
    }
.magic {
    color: #555570;
    }
.rare {
    color: #909000;
    }
.note {
    font-size: 12px;
    color: #a1a178;
}
.heroic {
    color: #20b020;
}
.uberquest {
    color: #ff9900;
}

.elite {
    color: #ffff20;
}

.holy {
	color: #886600;
}

.unholy {
    color: #AA66AA;
}

.set {
    color: #117011;
}

.reagent {
    color: #a76524;
}

.craftingPoints {
    color: #868d91;
}