/* table */
table {
    width: 95%;
    margin: 25px auto 0 auto;
}

th {
    padding: 3px 3px;
    vertical-align: center;
    margin: 0 auto;
    border: 1px solid black;
    line-height: 24px;
    font-weight: bold;
    font-size: 18px;
    color: #a1a178;
    background-color: #312a1aa9;
}

th:hover {
    cursor: pointer;
}

#testIlvl {
    width: 5%;
}

td {
    padding: 7px 3px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 15px;
    color: #a1a178;
}
