.description {
    color: #a0a076;
    text-align: left;
    width: 100%;
    margin: 30px auto 20px auto;
    padding: 10px 5px 10px 30px;
}

.description h3 {
    font-size: 18px;
    font-weight: bold;
}

.sacredUniqueAreas {
    margin: 20px 0 20px 0;
    background-color: #1a160c;
    padding: 10px 10px 10px 10px;
    width: 70%;
    border: 2px solid #413922e3;
}

/* table */
table {
    width: 95%;
    margin: 25px auto 0 auto;
}

th {
    margin: 0 auto;
    border: 1px solid black;
    line-height: 24px;
    font-weight: bold;
    font-size: 18px;
    color: #a1a178;
    background-color: #312a1aa9;
}

td {
    border: 1px solid black;
    vertical-align: middle;
    font-size: 15px;
    color: #a1a178;
}

td img{
    margin: auto;
    border: 1px solid rgb(204, 204, 204);
}

.textCell {
    width: 40%;
    padding: 3px 0 5px 5px;
    text-align: left;
    vertical-align: top;
}

.img {
    width: 10%;
    padding: 0 10px 0 10px;
}

